@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Give+You+Glory');

h1 {
  color: red;
  text-align: center;
}

td {
  width: 100px;
  height: 100px;
}

.vertical {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.horizontal {
  border-top: solid black 2px;
  border-bottom: solid black 2px;
  }

table {
  margin: auto;
}

#gloria {
  font-family: 'Gloria Hallelujah', cursive;
}

#give {
  font-family: 'Give You Glory', cursive;
}
